h1{
    color: aqua;
    font-family: poppins, sans-serif;
}
.red{
    color: red;
}

.blue{
    color: blue ;
}
.purple{
    color: purple ;
}
[data-x=a]{
    background-color:darkorchid ;
}
h1.red{
    color: red;
}